.row
  .six.columns
    = f.label :body
    = f.text_field :body, required: true, class: 'u-full-width'

.row
  .six.columns
    = f.label :regularity
    = f.select :regularity, Question::REGULARITIES, {}
