%p
  = f.label :body, t('question'), class: 'gray'
  = f.text_field :body, required: true, class: 'col-12 field'

%p
  = f.label :regularity, class: 'gray'
  = f.select :regularity, Question::REGULARITIES, {}, { class: 'col-12 field' }
