%tr
  %td
    = link_to question.body, question_path(question)
  %td
    = link_to edit_question_path(question) do
      = image_tag 'fi-pencil.svg', widht: 16, height: 16
  %td
    .u-pull-right
      - hs = question.happiness_score
      %div{class: colored_happiness_score(hs) }= hs
