= render 'layouts/nav' if user_authenticated?

%section.center-box
  = image_tag 'happy.svg', width: 64, height: 64, class: 'center-box__image'
  - unless user_authenticated?
    %a{ href: '/auth/google_oauth2', class: 'button button-primary center-box__button' }= t('login')
