%footer.white.bg-black
  .px2.py3.container
    .clearfix.mxn2
      .col.col-6
        %ul.list-reset
          %li= link_to t('home'), root_path, class: 'btn block'
          %li= link_to t('questions'), questions_path, class: 'btn block'
          %li= link_to t('users'), users_path, class: 'btn block'
