.container.mt2
  %nav.sm-col.sm-col-11
    = image_tag 'happy.svg', height: 30, width: 30, class: 'btn'
    = link_to t('questions'), questions_path, class: 'btn'
    = link_to t('users'), users_path, class: 'btn'
